@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    width: 100%;
}

header {
    width: 100%;
    height: 92px;
    background-color:#CF2B2B;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 6px 7px rgb(122, 122, 122);
}

h1 {
    font-family: Righteous;
    font-size: 44px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 21px;
    color: #FFFFFF;
}

header p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 21px;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 123px;
    margin-left: 19px;
    margin-bottom: 95px;
}

h2 {
    font-family: Righteous;
    font-size: 26px;
    font-weight: 400;
    color: #333333;
}

.options {
    display: flex;
    align-items: flex-start;
    height: 248px;
    overflow-x: scroll;
}

.options::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

.options {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.item {
    width: 172px;
    height: 216px;
    margin-top: 14px;
    margin-right: 16px;
    border-radius: 9px;
    padding: 18px 14px 13px 14px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 1px 2px 3px rgb(199, 199, 199);
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.productName {
    margin-top: 8px;
    font-weight: 700;
    font-family: Roboto;
    font-size: 16px;
    color: #333333;
}

.productDescription {
    margin-top: 12px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}

.productPrice {
    margin-top: 12px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

h3 {
    font-family: Righteous;
    font-size: 26px;
    font-weight: 400;
    color: #333333;
    margin-top: 20px;
}

footer {
    width: 100%;
    height: 92px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerInfo {
    width: 88%;
    height: 65px;
    background-color: #CBCBCB;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerInfo2 {
    width: 88%;
    height: 65px;
    background-color: #32B72F;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerInfo p {
    width: 60%;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.footerInfo2 a {
    width: 50%;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.hide {
    display: none;
}

.border1 {
    border-style: solid;
    border-width: 5px;
    border-color: #049204;
    border-radius: 9px;
    padding: 11px 9px 0px 9px;
    box-shadow: none;
    background-image: url(images/Vector.png);
    background-position: 140px 177px;
    background-repeat: no-repeat;
}

.border2 {
    border-style: solid;
    border-width: 5px;
    border-color: #049204;
    border-radius: 9px;
    padding: 11px 9px 0px 9px;
    box-shadow: none;
    background-image: url(images/Vector.png);
    background-position: 140px 177px;
    background-repeat: no-repeat;
}

.border3 {
    border-style: solid;
    border-width: 5px;
    border-color: #049204;
    border-radius: 9px;
    padding: 11px 9px 0px 9px;
    box-shadow: none;
    background-image: url(images/Vector.png);
    background-position: 140px 177px;
    background-repeat: no-repeat;
}